In [ ]:
# Load CSV file from my google drive 

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

path = '/content/drive/MyDrive/Colab Notebooks/adult.data.csv'
df = pd.read_csv(path)

df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [ ]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df["race"].value_counts()

print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [68]:
# What is the average age of men?
average_age_men = round(df.loc[df["sex"] == "Male", "age"].mean(),1)

print(average_age_men)

39.4

In [71]:
# What is the percentage of people who have a Bachelor's degree?
number_bachelors = (df["education"] == "Bachelors").sum()
number_education = (len(df.index))

percentage_bachelors = round(float(number_bachelors/number_education)*100, 1)

print(number_bachelors)
print(number_education)
print(percentage_bachelors)

5355
32561
16.4

In [70]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`

number_higher_education = (df["education"] == "Bachelors").sum() + (df["education"] == "Masters").sum() + (df["education"] == "Doctorate").sum()
number_lower_education =  len(df.loc[((df["education"] != "Bachelors") & (df["education"] != "Masters") & (df["education"] != "Doctorate"))]
.index)

print("Number of higher educated", number_higher_education)

print("Number of lower educated", number_lower_education)

higher_education = float(number_higher_education / number_education) * 100

lower_education = float(number_lower_education / number_education) * 100

print("Percentage of higher educated", higher_education)

print("Percentage of lower educated", lower_education)

rich_higher_education_df = df.loc[((df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate"))
& (df["salary"]=='>50K')]

rich_lower_education_df = df.loc[((df["education"] != "Bachelors") & (df["education"] != "Masters") & (df["education"] != "Doctorate")) 
& (df["salary"]=='>50K')]

rich_higher_education = len(rich_higher_education_df.index)

rich_lower_education = len(rich_lower_education_df.index)

# percentage with salary >50K
higher_education_rich =  round(float(rich_higher_education/number_higher_education)*100,1)
lower_education_rich =  round(float(rich_lower_education/number_lower_education)*100,1)

print(higher_education_rich)
print(lower_education_rich)

Number of higher educated 7491
Number of lower educated 25070
Percentage of higher educated 23.006050182733944
Percentage of lower educated 76.99394981726606
46.5
17.4

In [ ]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df["hours-per-week"].min()

print(min_work_hours)

1

In [ ]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = len(df.loc[ (df["hours-per-week"]==1) & (df["salary"] == ">50K") ].index)

print(num_min_workers) 

rich_percentage = float(num_min_workers/len(df.loc[df["hours-per-week"]==1].index))*100

print(rich_percentage)

2
10.0

In [72]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = ( ( df["native-country"].loc[(df["salary"] == ">50K")].value_counts() )/( df["native-country"].value_counts() ) ).idxmax()

print(highest_earning_country)

highest_earning_country_percentage = round(float(( ( df["native-country"].loc[(df["salary"] == ">50K")].value_counts() )
                                    /( df["native-country"].value_counts() ) ).max())*100,1)

highest_earning_country_percentage

Iran

41.9

In [66]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df["occupation"].loc[(df["salary"] == ">50K") & (df["native-country"] == "India")].value_counts().idxmax()

print(top_IN_occupation)

Prof-specialty